html, body {
    overflow-x: hidden;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    flex: 0 0 auto;
    text-align: center;
    background: gray;
}

.body {
    flex: 1 1 auto;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items:initial;
    justify-content: center;
    background-color: rgb(232, 238, 255);
}

.game-box {
    flex: 1 0 auto;
    padding-top: 50px;
    max-width: 700px;
    min-width: 700px;
    align-items: center;
}

.score-trackers {
    display: flex;
    padding: 20px 0px;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    max-width: 350px;
    margin: auto;
}

.rps-selectors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 500px;
    padding: 20px 0px;
    margin: auto;
}

.selector {
    background-color: rgb(248, 248, 248);
    transition-duration: 0;
    cursor: pointer;
}

.selector:hover {
    background-color: grey;
    color: white;
}

.selector-button {
    width: 100px;
}

.player-score {
    border: solid;
    width: 150px;
}

.score-log {
    flex: 1 0 auto;
    text-align: center;
    justify-self: flex-start;
}

.footer {
    flex: 0 0 auto;
    text-align: center;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    color: "black";
}

p {
    margin: 10px;
}

.github-link {
    height: 17px;
    text-align: center;
}

.tryAgainButton {
    width: 200px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.tryAgainButton:hover{
    background-color: grey;
    color: white;
}

@media (max-width: 500px){
    .game-box {
        max-width: 250px;
    }
    
    .rps-selectors {
        max-width: 300x;
        justify-content: center;
        gap: 15px;
    }

    .selector-button {
        max-width: 70px
    }
}